<section id="filterSection" class="hidden">
    <select class="col-sm-4">
        <option value="fName" selected>Ime: </option>
        <option value="lName">Prezime: </option>
        <option value="number">Broj: </option>
        <option value="city">Grad: </option>
    </select>
    <div class="col-sm-4">
        <input type="text" class="filterinput" id="query" />
    </div>
    <button id="activate" type="button">Pretraži</button>
    <button id="deactivate" class="hidden" type="button">Prekini</button>
</section>