<section>
    Dobar dan i dobro došli na moju prijavu za posao u Omega Softwareu.
    Molim Vas da se registrirate i poigrate s mojom aplikacijom. Nakon registracije dobit
    ćete hrpu Marka Markovića, Ivana Ivanovića, Petra Petrovića i jednog jako posebnog kontakta
    u ovom imeniku. Taj posebni sam ja, da ne bi bilo zabune :) Možete pogledati i ovo malo siroče
    od mog životopisa. Napisan ej u EuroPass stilu i sadrži osnovne informacije o meni. 
</section>
<section>
    <h3>O aplikaciji ImenikKlijent</h3>
    <p>
        Ova aplikacija predstavlja moj pokušaj u izradi SPA aplikacije. Razmišljao sam o tome da iskoristim Backbone, Knockout ili Angular, ali sam se odlučio da su stvari koje ću ovdje napisati dovoljno izvedive "golim" JavaScriptom (jQuery više ni ne smatram nekakvim dodatkom s obzirom da ga svugdje i svatko koristi). S obzirom da nemam pretjerano iskustvo u pisanju JavaScripta, rezultat mog rada je datoteka od dobrih 617 linija koda. Da se je moglo bolje, pa naravno da je. Kako god bilo, spomenuta trojka su u uskom krugu kandidata za učenje odmah nakon diplome.
    </p>
    <p>
        Server je pisan koristeći  Web API 2 framework, a klijent je nastao iz ASP.NET MVC 4 templatea. Glavni razlog zašto klijent nije napisan iz MVC 5-ice je u tome što mi nikako nije prepoznavao ekstenzije iz System.Net.Http.Formatting assembly, bez obzira što ja napravio. No, to su manje bitni detalji koji možda nisu zaslužili biti na početnoj stranici.
    </p>
    <p>
        Malo sam Bootstrapirao aplikaciju, čisto da stvari ljepše izgledaju.  Uživajte u radu s aplikacijom.
    </p>
</section>
