@{
    ViewBag.Title = "CVPass";
}

<section>
    <h2>Životopis</h2>
    <p>
        Ovo je moj životopis u EuroPass stilu. Nije bogat, ali što da se radi, možda ga i popunim uskoro :)   
    </p>
    <table class="table">
        <tbody>
            <tr>
                <td><strong>Osobni podaci</strong></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td><strong>Ime i prezime</strong></td>
                <td>Miloš Trifunović</td>
            </tr>
            <tr>
                <td>Adresa</td>
                <td><span>Brune Bušića 19, 33520 Slatina</span>
                <br />
                    <span>Boravište u SD Stjepan Radić Zagreb, do kraja lipnja</span>
                </td>
            </tr>
            <tr>
                <td><strong>Email</strong></td>
                <td><a href="mailto:mtrifunovi@gmail.com">mtrifunovi@@gmail.com</a><br />
                    <a href="mailto:hugibeer@gmail.com">hugibeer@@gmail.com</a>
                </td>
            </tr>
            <tr><td>
                    Državljanstvo
                </td>
            <td>Hrvatsko</td>
            </tr>
            <tr><td>Spol</td><td>Muški</td></tr>
            <tr><td><strong>Željeno zanimanje</strong></td><td>Software developer</td></tr>
            <tr><td><strong>Radno iskustvo</strong></td><td>Nema</td></tr>
            <tr><td><strong>Obrazovanje i osposobljavanje</strong></td><td>&nbsp;</td></tr>
            <tr><td>Datumi</td><td>Od rujna 2008. do srpnja 2011.</td></tr>
            <tr><td>Naziv dodjeljene kvalifikacije</td><td>Sveučilišni prvostupnik matematike, univ. bacc. math.</td></tr>
            <tr><td>Glavni predmeti i stečene profesionalne vještine</td>
            <td>
                Programiranje u programskim jezicima i tehnologijama C, C++, C#, ASP.NET MVC, PHP, JavaScript, jQuery <br />
                Rad s MySQL bazom podataka <br />
                Poznavanje rada s HTML, XML, JSON<br />
                Razumijem CSS, ali mi dizajn nije jača strana 
            </td>
            </tr>
            <tr><td>Ime i vrsta organizacije pružatelja obrazovanja</td>
            <td>Prirodoslovno-matematički fakultet, Matematički odsjek <br />
                Bijenička cesta 30 <br />
                10 000 Zagreb
            </td></tr>
            <tr>    
                <td>Razina prema nacionalnoj ili međunarodnoj klasifikaciji</td>
                <td>ISCED 4</td>
            </tr> 
            <tr>
                <td><strong>Jezici</strong></td><td>&nbsp;</td>
            </tr>
            <tr>
                <td>Materinji</td>
                <td>Hrvatski</td>
            </tr>
            <tr><td>Strani jezici</td>
            <td>Engleski</td></tr>
            <tr>
                <td>Računalne vještine i kompetencije</td>
                <td>Vrlo dobro poznavanje programskih jezika C, C++, C#, HTML, ASP.NET MVC <br />
                    Iskustvo u radu s PHP-om, CSS-om, MySQL-om, JavaScriptom <br />
                    Površno poznavanje Adobe Creative Suitea stečeno kroz studentski seminar                    
                </td>
            </tr>
            <tr>
                <td>
                    Druge vještine i kompetencije
                </td>
                <td>
                    Suosnivač i dopredsjednik Hrvatske Udruge Slabovidnih Osoba VID
                </td>
            </tr>
            <tr>
                <td>
                    Vozačka dozvola
                </td>
                <td>
                    Nema
                </td>
            </tr>
            <tr>
                <td>
                    <strong>Dodatne informacije</strong>
                </td>
                <td>
                    <h4>Status studija</h4>
                    Položio sam sve kolokvije na diplomskom studiju Računarstvo i matematika na PMF-MO. Diplomski rad je u finalnoj fazi i biti će gotov do početka veljače, a obranjen krajem veljače. 
                    Tema diplomskog rada je prijenos videa korištenjem Microsoftove DirectShow tehnologije.
                    <br />
                    <h4>Publikacije</h4>
                    Web stranica Hrvatske udruge slabovidnih osoba VID na adresi <a href="http://www.udrugavid.hr">www.udrugavid.hr</a>
                    <br />
                    <h4>Istaknuti radovi</h4>
                    <ul>
                        <li>Pronalaženje ortogonalnog para zadanom latinskom kvadratu, program pisan u C++-u.</li>
                        <li>Zmija - web forms aplikacija pisana u C#-u</li>
                        <li>Server-klijent aplikacija pisana u C-u korištenjem Socket API-a</li>
                        <li>Implementacija apstraktnih tipova podataka i algoritama</li>
                    </ul>
                </td>
            </tr>
           </tbody>
    </table>
</section>